<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/dbf05080-ed74-4330-bff3-5ff187641c0a/resourceGroups/TestApp/providers/Microsoft.Web/sites/ASP-MVC-Trial</ResourceId>
    <ResourceGroup>TestApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://asp-mvc-trial.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>asp-mvc-trial.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ASP-MVC-Trial</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ASP-MVC-Trial</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>